@import 'tailwindcss';

@font-face {
  font-family: 'MistralCustom';
  src: url('/fonts/MISTRAL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brusher';
  src: url('/fonts/Brusher.ttf') format('truetype');
}

.font-brusher {
  font-family: 'Brusher', cursive;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-mistral {
  font-family: 'MistralCustom';
}

button {
  cursor: pointer;
}

/* @layer base {
  body {
    @apply antialiased;
  }
  h1, h2, h3, .font-serif {
    font-family: 'Playfair Display', serif; 
  }
} */